
%h1 Similar Movies By Director

- @movies.each do |movie|
  %ul#details
    %li
      Title:
      = movie.title
    %li
      Director:
      = movie.director
    %li
      Release Date:
      = movie.release_date.strftime("%B %d, %Y")
